body {
  // background: lighten($color: green, $amount: 50%);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

// html,body{
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//    background-size: cover;
//    height:100%;
// }